# Entorno virtual
.venv/

# Variables de entorno
.env

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Archivos temporales
*.tmp

# Sistema operativo
.DS_Store
Thumbs.db


# Datasets CSV
dataset_banco_backup.csv
dataset_banco_limpio.csv